h1{
    color:white
}
body {
    background-image: url("eminem.jpg");

}
button{
    background-color: lime;
    display: inline-block;
    cursor: pointer;
    border-style:none;
    border-radius: 12px;
    margin: 10px;
    height: 135px;
    width: 135px;

}

#drumpad {
    text-align:center;
    height:500px;
    width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

button:hover{
    background-color: violet; 
}
img{
    margin-left:870px;
    cursor:pointer;
    opacity:0.5
}
img:hover{
    opacity: 1.0
}