body {
    background-image:url(bg.png);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px; 
    margin: 0px;   
}
.navi a {
    color: white;
    text-decoration: none;
}
.navi {
    background-color: black;
    position: fixed;
    right: 150px;
    top: 0;
    border: solid;
    border-radius: 10px;
}
.navi li{
    list-style-type: none;
    display: inline-block;

}
.navi li b{
    color:white;
}
.navi ul{
    padding: 0;
    margin: 0;
    border: 0;
}
a:hover{
    color:lightblue;
}
a:visited{
    color:crimson;
}
.logo{
    position: relative;
}
main {
    width: 800px;
    margin:auto;
}
.formular {
    width: 200px;
    padding: 5px, 5px, 5px, 5px;
    position: absolute;
    top: 55%;
    right: 60%;
}
input {
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: lightgray;
    font-size: 10px;
    font-weight: bolder;
}
textarea{
    width: 300px;
    height:30px;
    padding: 5px, 5px, 30px, 5px;
    margin-right: 680px;
    box-sizing: border-box;
    border: none;
    background-color: lightgray;
    font-size: 10px;
    font-weight: bolder;
}
h2 {
    position:absolute;
    left:30%;
font-weight:bolder;
}
.fblogo {
position:absolute;
top: 25%;
left: 42%;
width: 25px;
height: 25px;
opacity: 0.5;
}
.fblogo:hover{
    opacity:1.0;
}
.insta{
    width: 25px;
    height: 25px;
    position:absolute;
    top: 25%;
    left:40%;
    opacity: 0.5;
}
.insta:hover {
opacity: 1.0;
}
p, h1, h2 {
text-align:left;
}